<a href="https://colab.research.google.com/github/sugimotoh/seminar2018/blob/master/%E7%B9%B0%E3%82%8A%E8%BF%94%E3%81%97%E5%87%A6%E7%90%86%EF%BC%88for%E6%96%87%EF%BC%89.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# range(20)の範囲内でiを0から繰り返す
# 繰り返す処理は　print(i)
# 引数iをプリントする
for i in range(20):
    print(i)
# 演習：range(20)の数字を変えてみる

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [2]:
# nameベクトル定義
names = ['4年河野', '4年原', '大学院_伊藤ゼミ_八重島', '2年大西', '2年菊池']
for i in range(5):
    print(names[i])
# 繰り返す　range(5)の数字を変えてみる

4年河野
4年原
大学院_伊藤ゼミ_八重島
2年大西
2年菊池

In [3]:
for i in range(4):
    print('{}さん'.format(names[i]))
# 繰り返す　range(4))の数字を変えてみる

4年河野さん
4年原さん
大学院_伊藤ゼミ_八重島さん
2年大西さん

In [4]:
#　ベクトルnamesの長さ（中に含まれる要素の数）を数える
len(names)

5

In [5]:
#　ベクトルnamesの長さをlenで読み込んで、これをrangeの範囲指定に使う。
for i in range(len(names)):
    print('{}さん'.format(names[i]))

4年河野さん
4年原さん
大学院_伊藤ゼミ_八重島さん
2年大西さん
2年菊池さん

In [10]:
#　最終的に以下のようなコードに落とし込む　
for test in names:
    print('{}さん'.format(test))
# testは任意の文字列でよいので各自やってみる

4年河野さん
4年原さん
大学院_伊藤ゼミ_八重島さん
2年大西さん
2年菊池さん

In [ ]:
#以下をベクトルに定義し、'ミーティング'をプログラムで加えて出力させましょう。

三井住友海上火災保険株式会社_7月20日（月）15時よりzoom
株式会社イトーキ_7月21日（火）10時よりzoom
丸井グループ_7月21日（火）15時よりzoom
株式会社ハローデイ_7月22日（水）15時よりzoom